{% extends 'layout.html.twig' %}
{% block title %}
    Modifier mon profil
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/modifyUserProfile.css">
{% endblock %}
{% block header %}
    {% include 'userHeader.html.twig' %}
    {% include 'userHeaderDesktop.html.twig' %}
{% endblock %}
{% block content %}
    <div class="profile-body">
        <div class="profile-container">
            <h2 class="modify-profile-title">Modifier Mon profil</h2>
            <form action="modifyUserProfile" method="post" class="modify-form">
                <div class="modify-form-errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </div>
                <div>
                    <label for="lastname">Nom :</label>
                    <input type="text" name="lastname" id="lastname" value="{{ user.lastname }}">
                </div>
                <div>
                    <label for="firstname">Prénom :</label>
                    <input type="text" name="firstname" id="firstname" value="{{ user.firstname }}">
                </div>
                <div>
                    <label for="telephone">N° de tel :</label>
                    <input type="text" name="telephone" id="telephone" value="{{ user.telephone }}">
                </div>
                <div>
                    <label for="address">Votre adresse :</label>
                    <textarea name="address" id="address"rows="6">{{ user.address }}</textarea>
                </div>
                <div class="form-userInscription submit">
                    <button type="submit" name="submit" id="submitUserInscription" >Modifier mes infos</button>
                </div>
            </form>
            <form action="modifyLoginProfile" method="post" class="modify-form">
                <div>
                    <label for="email">Email :</label>
                    <input type="text" name="email" id="email" value="{{ user.email }}">
                </div>
                <div>
                    <label for="password1">Mot de passe :</label>
                    <input type="password" name="password1" id="password1">
                </div>
                <div>
                    <label for="password2">Confirmer votre mot de passe :</label>
                    <input type="password" name="password2" id="password2">
                </div>
                <div class="form-userInscription submit">
                    <button type="submit" name="submit" id="submitUserInscription" >Modifier mes infos</button>
                </div>
            </form>
            <form action="modifyKidProfile" method="post" class="modify-form">
            {% for kid in kids %}
                    <p class="modify-infos-kid">
                        Prénom : <span class="profile-important-info">{{ kid.firstname }}</span><br>
                        date de naissance : <span class="profile-important-info">{{ kid.birthday|date('d/m/Y') }}</span>
                    </p>
                    <div>
                        <label for="commentKid">Allergies / Choses à savoir :</label>
                        <textarea class="modify-input" id="commentKid" name="commentKid{{ loop.index0 }}" rows="6">{{ kid.specs }}</textarea>
                    </div>
            {% endfor %}
                <div class="form-userInscription submit">
                    <button type="submit" name="submit" id="submitUserInscription" >Modifier mes infos</button>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
