<section class="unacceptedDemand">
    <h2 class="titleUAD">Les News</h2>
    <article class="article">
        <h3>{{ dataAPI.records.0.fields.slug | raw }}</h3>
        {{ dataAPI.records.0.fields.longdescription_fr | raw }}
    </article>
    <article class="article">
        <h3>{{ dataAPI.records.1.fields.slug | raw }}</h3>
        {{ dataAPI.records.1.fields.longdescription_fr | raw }}
    </article>
    <article class="article">
        <h3>{{ dataAPI.records.2.fields.slug | raw }}</h3>
        {{ dataAPI.records.2.fields.longdescription_fr | raw }}
    </article>
</section>
