<section class="planning-container">
{% for key, value in demandsByDay %}
        <div class="day-block day{{ loop.index0 }}

">
            <input class = input-day{{ loop.index0 }} type="checkbox" id="plus-button{{ loop.index0 }}" hidden>
            <h2><label class="label-day{{ loop.index0}}
{% for demand in value %}
{% if demand.helperID==user.userID %}
helper
{% elseif demand.userID==user.userID %}
helped
{% endif %}
{% endfor %}
" for="plus-button{{ loop.index0 }}">{{ key }}</label></h2>

        {% for demand in value %}
        {% if demand.helperID==user.userID %}
{#        <div class="demand-block demand{{ loop.index}} helper">#}
            <p class="demand-text helper">Je rends service à {{ demand.askerName }} à
                {{ demand.startdate|date('h:i') }} jusqu'à {{ demand.enddate|date('h:i') }}<br>
            Il a précisé que "{{ demand.comment }}".</p>
{#        </div>#}
            {% endif %}
            {% if demand.userID==user.userID %}
{#            <div class="demand-block demand{{ loop.index}} helped">#}
                <p class="demand-text helped">{{ demand.helperName }} me rend service de {{ demand.startdate }}
                    à {{ demand.enddate }}<br>
                    J'ai précisé "{{ demand.comment }}"</p>
{#            </div>#}
                {% endif %}
{#            </div>#}
            {% endfor %}
        </div>
{% endfor %}
</section>



