<section class="unacceptedDemand">
    <h2 class="titleUAD">Mes demandes en attente</h2>
    {% for demands in demand %}
        <div class="article">
            <div class="dateDemand">
                Du <span class="importantInfo">{{ demands.startdate|date("d/m/Y") }}</span>
                à <span class="importantInfo">{{ demands.startdate|date("h:i") }}</span>
                <br>
                Au <span class="importantInfo">{{ demands.enddate|date("d/m/Y") }}</span>
                à <span class="importantInfo">{{ demands.enddate|date("h:i") }}</span>
            </div>
            <div class="contextUnacceptedDemand">
                Contexte :
                <span class="importantInfo">{{ demands.context }}</span>
            </div>
            <div class="commentUnacceptedDemand">
                Commentaires :
                <span class="importantInfo">{{ demands.comment }}</span>
            </div>
        </div>
    {% endfor %}
</section>
