{% for key, value in demandsByDay %}
    <div class="day-block
{% for demand in value %}
{% if demand.helperID==user.userID %}
helper
{% elseif demand.userID==user.userID %}
helped
{% endif %}
{% endfor %}
">
        <h2>{{ key }}</h2>
        <i class='fas fa-plus experience-button plus-buttons'></i>
    </div>
    {% for demand in value %}
        {% if demand.helperID==user.userID %}
            <div class="demand-block helper">
            <p class="demand-text helper">Je rends service à {{ demand.askerName }} à
                {{ demand.startdate|date('h:i') }} jusqu'à {{ demand.enddate|date('h:i') }}</p>
            <p class="demand-text helper">Il a précisé que "{{ demand.comment }}".</p>
            </br>
        {% endif %}
        {% if demand.userID==user.userID %}
            <div class="demand-block helped">
            <p class="demand-text helped">{{ demand.helperName }} me rend service de {{ demand.startdate }}
                à {{ demand.enddate }}</p>
            <p class="demand-text helped">J'ai précisé "{{ demand.comment }}"</p>
            <br>
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endfor %}


